<div class="parsons header">
  <app-toolbar> </app-toolbar>

  <div class="col-12" style="height: 50px;"> </div>

  <div class="game">
    <!-- Parsons Widget Area -->
    <div class="sortables-container">
      <!-- Left: Trash Zone -->
      <div id="sortableTrash" class="sortable-code drop-zone trash-zone">
        <p>Drag from here</p>
      </div>

      <!-- Right: Solution Zone -->
      <div id="sortable" class="sortable-code drop-zone solution-zone">
        <p>Construct your solution here</p>
      </div>

      <!-- Feedback Button -->
      <div class="buttons">
        <button (click)="getFeedback()">Get Feedback</button>
      </div>
    </div>
  </div>

<div class="animatie">

</div>

</div>
