<app-toolbar [username]="username"></app-toolbar>


<div class="welcome-container">
  <h1>Welcome to the Gamified Parsons Problems Tool</h1>
</div>

<div class="question-container" *ngIf="paginatedQuestions.length > 0">
  <h2>{{ paginatedQuestions[0].section }}</h2>
  <p>{{ paginatedQuestions[0].content }}</p>
</div>

<div class="parsons-widget-container">
  <!-- Container for the "drag from here" and "construct solution" areas side-by-side -->
  <div class="sortable-container">
    <div id="sortableTrash" class="sortable-code">
      <p>Drag from here</p>
    </div>
    <div id="sortable" class="sortable-code">
      <p>Construct your solution here</p>
    </div>
  </div>
</div>

<div class="buttons">
  <button (click)="newInstance()">New Instance</button>
  <button (click)="getFeedback()">Get Feedback</button>
  <button (click)="toHome()">Home</button>
</div>

<mat-paginator class="paginator"
               [length]="questions.length"
               [pageSize]="pageSize"
               [pageSizeOptions]="[1, 2, 5, 10]"
               (page)="handlePageEvent($event)">
</mat-paginator>
